.icon {
  font-size: 10px;
}

.icon:before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../img/icons-svg/sprite.svg");
  background-repeat: no-repeat;
  background-size: 51.2em 141.7em;
}

.no-svg .icon:before {
  background-image: url("../img/icons-svg/sprite.png");
}

.icon.award:before {
  background-position: 0em 0em;
  width: 51.2em;
  height: 51.2em;
}

.icon.deal:before {
  background-position: 0em -51.2em;
  width: 49.6em;
  height: 49.6em;
}

.icon.facebook:before {
  background-position: 0em -100.8em;
  width: 40.8788em;
  height: 40.8788em;
}